#champs{
margin:5px;
height:100px;
background-color:#e6e6e6;
    
}

#champs label{
width:100px;
}
#champs select{
width:200px;
}

#btn_valider_text{
    width:100px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-bottom: 5px;
margin-top: 5px;
}