body{
    padding:0px;
    margin:0px; 
    /*   background-color:#3c3c3c;
    color:#f8f8f8;*/
}

#map {
    background-color:black;
    position: absolute;
    right: 400px;
    left:0px;
    top: 0px;
    height:60%;
    color:black;
}

.leaflet-google-layer{
    z-index: 0 !IMPORTANT;
}
.leaflet-map-pane{
    z-index: 100;
}

#main{
     position:absolute;
    width:100%;
    top:5px;
    bottom:35px;
}

#header{
    position:absolute;
    width:100%;
    height:5px;
    
}
#btn_import{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
#btn_import button{
 width:30%;
    margin:4px;
}



.gridStyle {
     position:absolute;
/*    top:0px;30px*/
    height:40%;
    bottom:0px;
    right:400px;
    left:0px;
    border: 1px solid rgb(212,212,212);
}

#rigth{
    /*background-color:black;*/
      position: absolute;
    width: 400px;
    right:0px;
    bottom:0px;
    top: 0px;
}

.lbl_center{
 width: 100%;
text-align: center;
}

#btn_import{
 width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    margin-top:20px;
    display:block;
}

#score_min{
  align-content: center;
margin-right: auto;
margin-left: auto;
display: block;
}


#footer{
   
    position:absolute;
    bottom:0px;
    height:32px;
    width:100%;
}

#btn_process{
    
    position: absolute;
left: 20px;
right: 20px;
top: 100px; 
bottom: 0px;

}

#btn_process button{
    width:100%;
    margin:4px;
    max-height:60px;
    height:20%;
}



#import_kml{
 margin:4px;
}
#input{
 display: inline;   
}





.icon{
 cursor:pointer;
text-align:center;
}

#export_csv{
    position:absolute;
    height:42px;
    bottom:3px;
    right:3px;
    display:block;
   width:48%;
}

#export_kml{
    position:absolute;
       height:42px;
    bottom:3px;
    left:3px;
    display:block;
   width:48%;
}

form{
   display: inline;    
}