
mat-form-field {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

mat-slider{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}